* {
    font-size: 1rem;
    color: black;
    font-family: "source-code-pro", monospace;
    font-weight: 400;
    font-style: normal;
   }
  
.ul_list {
    text-align: left;
}  

.heading {
    font-size: 3.5rem;
}

.subheading {
    font-style: italic;
}

.section_div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px dotted black;
}

.side_div {
    border-right: 1px dotted black;
}