* {
  font-family: "Source Code Pro", monospace;
  color: white;
}

body {
  background-color: black;
}

fieldset {
  border: 1px solid black;
  margin: 0px;
  padding: 1rem;
  margin-bottom: 1rem;
}

img{
  max-width: 50%;
  max-height: 50%
}


label {
  display: block;
}

li {
  margin-bottom: 1em;
}

textarea {
  color: black;
}

.honeypot-field {
  display: none;
}

.form-elements {
  border: 1px solid black;
}

.Timestamp {
  display: none;
}

button {
  color: black;
}

.name {
  display: none;
}

.message {
  display: none;
  background: black;
}

.wish {
  height: 20vh;
  width: 20vh;
}

.wish:hover > .message {
  display: block;
  background-color: black;
}

.color {
  display: none;
}