* {
    font-family: source-code-pro, monospace;
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}

body {
    background-image: url("sparklingsky.gif");
    background-color:rgb(0, 2, 7);
}

#galaxy1 {
    width: 7rem;
    height: 100%;
    margin-top: 6vh;
    margin-left: 70vw;
    position: absolute;
}

#galaxy1gif {
    width: 7rem;
}

#blackhole1 {
    width: 20rem;
    height: 100%;
    margin-top: 34vh;
    margin-left: 3vw;
    position: absolute;
}


#blackhole1gif {
    width: 20rem;
}

#fireworld1 {
    width: 20rem;
    height: 100%;
    margin-top: 1vh;
    margin-left: 25vw;
    position: absolute;
}

#fireworld1gif {
    width: 20rem;
}

#terrainwet1 {
    width: 5rem;
    height: 100%;
    margin-top: 80vh;
    margin-left: 2vw;
    position: absolute;
}

#terrainwet1gif {
    width: 5rem;
}

#islands1 {
    width: 9rem;
    height: 100%;
    margin-top: 60vh;
    margin-left: 75vw;
    position: absolute;
}

#islands1gif {
    width: 9rem;
}

#gasgiant1 {
    width: 12rem;
    height: 100%;
    margin-top: 94vh;
    margin-left: 45vw;
    position: absolute;
}

#gasgiant1gif {
    width: 12rem;
}


.parentDiv {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* top: 40px; */
    /* margin-top: 0.5rem; */
}

.charDiv {
    bottom: 0;
    align-items: center;
    left: 1095px;
    top: 325px;
    position: relative;
}

.platDiv {
    align-items: center;
    position: relative;
    left: 1000px;
    top: 245px;
}

.text {
    background-color: white;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

#spriteContainer {
    height: 200px;
    width: 200px;
    background: url("planet.png");
    animation: sprite 9s steps(50) infinite;
}

#merchantContainer {
    height: 64px;
    width: 64px;
    background: url("merchant.png");
    animation: merch 1.5s steps(4) infinite;
}

#platform {
    height: 176px;
    width: 288px;
    background: url("tileset.png");
}


@keyframes merch {
    to { background-position: -256px; }
}

@keyframes sprite {
    to { background-position: -10000px; }
  }